<?xml version='1.0' encoding='utf-8'?>
<widget id="com.easyapp.central" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FeitosaApp</name>
    <description>Central do Assinante</description>
    <author email="noc@jotasti.com.br" href="https://www.instagram.com/jotas_ti">
       JotasTi
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
</widget>
